@tailwind base;
@tailwind components;
@tailwind utilities;

/*
==========
App Styles
========== 
*/

@font-face {
    font-family: "SourceCodePro";
    src: url("../../public/fonts/SourceCodeProRegualr.ttf");
}

@font-face {
    font-family: "Mulish";
    src: url('../../public/fonts/MulishVariable.ttf');
}

@font-face {
    font-family: "TimeBomb";
    src: url('../../public/fonts/timeBombRegular.ttf')
}

@layer base {
    html {
        font-family: 'mulish', 'sans-serif';
    }
}

.liftoff {
    background-image: url("../assets/liftoff.jpg");
    background-size: cover;
}

.text-shadow {
    text-shadow: black 0px 0px 3px; /* color offset-x offset-y blur-radius */
}

.caretPulseLeft {
    animation: caretPulseLeft linear 1s infinite;
}

.caretPulseRight {
    animation: caretPulseRight linear 1s infinite;
}

@keyframes caretPulseLeft {
    0% { border-left: 1px solid black}
    100% { border-left: 1px solid white}
}

@keyframes caretPulseRight {
    0% { border-right: 1px solid black}
    100% { border-right: 1px solid white}
}