@tailwind base;
@tailwind components;
@tailwind utilities;

/*
==========
App Styles
========== 
*/

@font-face {
    font-family: 'SourceCodePro';
    src: url('../../public/fonts/SourceCodeProRegualr.ttf');
}

.liftoff {
    background-image: url("../assets/liftoff.jpg");
    background-size: cover;
}